.scss{
    width: 400px;
    height: 200px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;   
    color: rgb(98, 119, 141);
    background: black;
    border-radius: 6px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}